.header-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #d7e3ff;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

