.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: 400px;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        background-color: #d7e3ff;

        img {
            align-self: center;
        }

        mat-card-title {
            margin-bottom: 20px;
        }

        .login-form {
            row-gap: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}

