<div class="container">
    <mat-card class="card">
        <mat-card-title>Login Here</mat-card-title>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter your email">
                <mat-error>Email is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Enter your password">
                <mat-error>Password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="loginForm.invalid || submitted ">Login</button>
        </form>
    </mat-card>
</div>