<mat-nav-list>
    <mat-list-item #dashboardLink="routerLinkActive" [activated]="dashboardLink.isActive" routerLink="admin/dashboard"
        routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </mat-list-item>
    <mat-list-item #customerLink="routerLinkActive" [activated]="customerLink.isActive" routerLink="admin/customers"
        routerLinkActive="active">
        <mat-icon>supervisor_account</mat-icon>Customers
    </mat-list-item>
    <mat-list-item #usersLink="routerLinkActive" [activated]="usersLink.isActive" routerLink="admin/users"
        routerLinkActive="active">
        <mat-icon>group</mat-icon> Users
    </mat-list-item>
    <mat-list-item #invoicesLink="routerLinkActive" [activated]="invoicesLink.isActive" routerLink="admin/invoices"
        routerLinkActive="active">
        <mat-icon>file_copy</mat-icon>Invoices
    </mat-list-item>
</mat-nav-list>