mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    column-gap: 15px;
}

.dialog-header {
    display: flex;
    align-items: center;
    background-color: #d7e3ff;
    justify-content: space-between;

    button {
        margin-right: 24px;
    }
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}