<div class="customers">
    @defer (when !isLoading) {
      @if (customers.length) {
        @for (customer of customers; track customer.id) {
          <mat-card class="card" matRipple>
            <mat-card-header>
              <mat-card-title>{{ customer.name }}</mat-card-title>
              <mat-card-subtitle>{{ customer.email }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Address: {{ customer.address }}</p>
              <p>Postal Code: {{ customer.postalCode }}</p>
            </mat-card-content>
          </mat-card>
        }
      } @else {
        <p>No customers found</p>
      }
    }
  </div>