<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <mat-nav-list>
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        @if(authService.isLoggedIn()) {
        <mat-toolbar>
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" matTooltip="Logout" (click)="logout()"
                aria-label="Example icon-button with logout icon">
                <mat-icon>power_settings_new</mat-icon>
            </button>

        </mat-toolbar>
        <mat-progress-bar  [mode]="modeType">
        </mat-progress-bar>
        }

        <router-outlet />
    </mat-drawer-content>

</mat-drawer-container>