mat-drawer-content {
    height: 100vh;
}

app-header {
    top: 0;
    z-index: 1;
    position: sticky;
}

.mat-drawer-content {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

#spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}