<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        @if(authService.currentUserSig()) {
        <app-header [drawer]="drawer"></app-header>
        <router-outlet class="router-outlet"></router-outlet>
        <app-footer></app-footer>
        } @else {
        <router-outlet></router-outlet>
        }
    </mat-drawer-content>
</mat-drawer-container>