<mat-list-item 
    (click)="toggleSubMenu()" 
    routerLinkActive="active"
    #routerLink="routerLinkActive" 
    [activated]="routerLink.isActive" 
    [routerLink]="item.link"
>
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.title }}
        @if(item.subMenu) {
        <mat-icon class="expand-icon">
            {{itemClicked? 'expand_less' : 'chevron_right'}}
        </mat-icon>
        }
    </span>

</mat-list-item>
@if(item.subMenu && itemClicked) {
<mat-nav-list class="intend-submenu">
    @for (item of item.subMenu; track $index) {
    <app-menu-item [item]="item" />
    }
</mat-nav-list>
}