.footer {
    display: flex;
    column-gap: 10px;
    margin: 0;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    background-color: #393d41;
    ;

    p {
        margin: 0;
    }
}