.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: 400px;
        padding: 20px;
        margin: 0 auto;
        mat-card-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }
    }
}