<div class="container">
    <mat-card class="card">
        <mat-card-title>Login Here</mat-card-title>
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="credentials.email" name="email" placeholder="Enter your email" required>
                <mat-error>Email is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="credentials.password" name="password" type="password"
                    placeholder="Enter your password" required>
                <mat-error>Password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="loginForm.invalid">Login</button>
        </form>
    </mat-card>
</div>