@use '@angular/material' as mat;

@include mat.core();

:root {
    @include mat.form-field-density(mat.define-theme((density: (scale: -4))));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
    &.info {
        --mdc-snackbar-container-color: #00bcd4;
    }

    &.success {
        --mdc-snackbar-container-color: #076404;
    }

    &.error {
        --mdc-snackbar-container-color: #f44336;
    }

    &.warning {
        --mdc-snackbar-container-color: #fd7e14;
    }
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

form {
    padding-top: 10px;
}

.text-capitalize {
    text-transform: capitalize;
}

.mat-mdc-dialog-title {
    margin: 0 !important;
}