html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
    &.info {
        --mdc-snackbar-container-color: #00bcd4;
    }

    &.success {
        --mdc-snackbar-container-color: #076404;
    }

    &.error {
        --mdc-snackbar-container-color: #f44336;
    }

    &.warning {
        --mdc-snackbar-container-color: #fd7e14;
    }
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.mdc-list-item__primary-text {
    gap: 10px;
    display: flex !important;
    align-items: center !important;
}

form {
    padding-top: 10px;
}

.text-capitalize {
    text-transform: capitalize;
}